* {
  font-family: "Markazi Text", "Karla", serif;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla";
}

input,
select,
option,
textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
}

input,
select {
  width: 10rem;
}

body {
  margin: 0;
  padding: 0;
  margin-top: -22px;
}

menu {
  list-style: none;
  display: grid;
}

a:visited, a:link {
  text-decoration: none;
  color: rgb(46, 167, 46);
}

.navigation-menu {
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.navigation-menu > li,
.navigation-menu > a,
.navigation-menu > Link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hover-effect:hover {
  background-color: #f4ce14;
  transition: 0.25s;
}

.navigation-menu-image {
  max-height: 4rem;
  margin-top: 0rem;
  margin-left: -2rem;
}


footer {
  min-height: 13rem;
  background-color: #edbe56;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: -1.4rem;
}

footer > menu {
  grid-template-columns: repeat(4, 1fr);
}

.footer-header {
  margin-bottom: -1.25rem;
}

.footer-links {
  padding: 0;
  list-style: none;
}

.footer-links > a,
.footer-links > Link,
.footer-links > li {
  text-align: left;
  display: block;
  color: white;
  padding-top: 0.2rem;
  font-family: "Karla", "Sans Serif";
}

.footer-links > a:hover,
.footer-links > Link:hover {
  background-color: #495e57;
  text-decoration: underline;
}

.footer-pic {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.footer-pic > img {
  max-height: 8rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 3rem;

  background-color: white;
  padding: 0.5rem;
}


.redirect-button:hover {
  background-color: #f4ce14;
  color: #464646 !important;
  transition: 0.2s;
}

@keyframes slideDownFade {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


