
.BigPurchasePlanner_BigPurchasePlanner {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,197,197,1.00);
	box-sizing: border-box;
}
.BigPurchasePlanner_BigPurchasePlanner
.OtherBigPurchases {
	position: relative;
	left: 25%;
	top: 193px;
	width: 856px;
	height: 275px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
}
.BigPurchasePlanner_BigPurchasePlanner
.OtherBigPurchases
.Rectangle1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 856px;
	height: 232px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 45px;
}
.BigPurchasePlanner_BigPurchasePlanner
.OtherBigPurchases
.BuyingHDB {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 307px;
	height: 54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(63,59,236,1.00);
	mix-blend-mode: normal;
	font-family: Inter;
	font-size: 45px;
	font-weight: 700;
	font-style: italic;
	line-height: 54.460227966308594px;
}
.BigPurchasePlanner_BigPurchasePlanner .BuyingHDB_1 {
	position: absolute;
	left: 25%;
	top: 505px;
	width: 856px;
	height: 277px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.BigPurchasePlanner_BigPurchasePlanner .BuyingHDB_1 .Rectangle2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 856px;
	height: 232px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 45px;
}
.BigPurchasePlanner_BigPurchasePlanner .BuyingHDB_1 .OtherBigPurchases_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 531px;
	height: 54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(138,221,32,1.00);
	mix-blend-mode: normal;
	font-family: Inter;
	font-size: 45px;
	font-weight: 700;
	font-style: italic;
	line-height: 54.460227966308594px;
}