
.parent
{
    display:flex;
    justify-content: space-evenly;
    position: relative;
}

.hdb 
{
    display: block;
    
}
.car
{
    display: block;
    
}


#texthdb
{
    display:inline-block;
    left: 18%;
    right: 50%;
    top: 2.34%;
    bottom: 95.18%;
    position: relative;
}

#textcar    
{
    display:inline-block;
    left: 53%;
    right: 50%;
    top: 2.34%;
    bottom: 95.18%;
    position: relative;
}


 


