


.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    
  }


  .box-left{
    margin-top: 30px;
    margin-left:50px
    

  }


  .box-push{
    margin-left:auto;
    margin-right:170px;
    margin-bottom:100px;
  }