
.ViewHDBPrices_ViewHDBPrices {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.ViewHDBPrices_ViewHDBPrices .Results {
	position: absolute;
	left: 16px;
	top: 396px;
	width: 1396px;
	height: 576px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .Logo {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .TOWN {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 189px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .TOWN .WOODLANDS {
	position: relative;
	flex: none;
	width: 169px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .FLATTYPE {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 127px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .FLATTYPE .FLATType {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .FLOORAREA {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 84px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .FLOORAREA .FloorArea {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 64px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .REMAININGLEASE {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 143px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .REMAININGLEASE ._87years {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .PRICE {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 145px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example6 .PRICE ._500000 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 125px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .Logo_1 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .TOWN_1 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 189px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .TOWN_1 .WOODLANDS_1 {
	position: relative;
	flex: none;
	width: 169px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .FLATTYPE_1 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 127px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .FLATTYPE_1 .FLATType_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .FLOORAREA_1 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 84px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .FLOORAREA_1 .FloorArea_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 64px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .REMAININGLEASE_1 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 143px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .REMAININGLEASE_1 ._87years_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .PRICE_1 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 145px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example5 .PRICE_1 ._500000_1 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 125px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .Logo_2 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .TOWN_2 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 189px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .TOWN_2 .WOODLANDS_2 {
	position: relative;
	flex: none;
	width: 169px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .FLATTYPE_2 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 127px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .FLATTYPE_2 .FLATType_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .FLOORAREA_2 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 84px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .FLOORAREA_2 .FloorArea_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 64px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .REMAININGLEASE_2 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 143px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .REMAININGLEASE_2 ._87years_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .PRICE_2 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 145px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example4 .PRICE_2 ._500000_2 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 125px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .Logo_3 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .TOWN_3 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 189px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .TOWN_3 .WOODLANDS_3 {
	position: relative;
	flex: none;
	width: 169px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .FLATTYPE_3 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 127px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .FLATTYPE_3 .FLATType_3 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .FLOORAREA_3 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 84px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .FLOORAREA_3 .FloorArea_3 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 64px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .REMAININGLEASE_3 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 143px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .REMAININGLEASE_3 ._87years_3 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .PRICE_3 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 145px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example1 .PRICE_3 ._500000_3 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 125px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .Logo_4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .TOWN_4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 189px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .TOWN_4 .WOODLANDS_4 {
	position: relative;
	flex: none;
	width: 169px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .FLATTYPE_4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 127px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .FLATTYPE_4 .FLATType_4 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .FLOORAREA_4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 84px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .FLOORAREA_4 .FloorArea_4 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 64px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .REMAININGLEASE_4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 143px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .REMAININGLEASE_4 ._87years_4 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .PRICE_4 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 145px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example3 .PRICE_4 ._500000_4 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 125px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .Logo_5 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .TOWN_5 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 189px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .TOWN_5 .WOODLANDS_5 {
	position: relative;
	flex: none;
	width: 169px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .FLATTYPE_5 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 127px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .FLATTYPE_5 .FLATType_5 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 107px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .FLOORAREA_5 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 84px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .FLOORAREA_5 .FloorArea_5 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 64px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .REMAININGLEASE_5 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 143px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .REMAININGLEASE_5 ._87years_5 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 123px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .PRICE_5 {
	position: relative;
	flex: none;
	margin-right: 120px;
	width: 145px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .Results .Example2 .PRICE_5 ._500000_5 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 125px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox {
	position: absolute;
	left: 16px;
	top: 300px;
	width: 1396px;
	height: 96px;
	display: flex;
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 5px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .Logo_6 {
	position: relative;
	flex: none;
	width: 63px;
	height: 72px;
	object-fit: cover;
	overflow: hidden;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .TOWN_6 {
	position: relative;
	flex: none;
	width: 100px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .TOWN_6 .Town {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 80px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .FLATTYPE_6 {
	position: relative;
	flex: none;
	width: 155px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .FLATTYPE_6 .FLATType_6 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 135px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .FLOORAREA_6 {
	position: relative;
	flex: none;
	width: 179px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .FLOORAREA_6 .FloorArea_6 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 159px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .REMAININGLEASE_6 {
	position: relative;
	flex: none;
	width: 248.99993896484375px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .REMAININGLEASE_6 .Remaininglease {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 229px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .PRICE_6 {
	position: relative;
	flex: none;
	width: 94px;
	height: 50px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.ViewHDBPrices_ViewHDBPrices .FilterBox .PRICE_6 .PRICE_7 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 74px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Header {
	position: absolute;
	left: 16px;
	top: 26px;
	width: 1392px;
	height: 246px;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 40px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(240,242,233,0.95);
	border-radius: 8px;
}
.ViewHDBPrices_ViewHDBPrices .Header .Findyourdesiredhdbaccordingtoyourneeds {
	position: relative;
	flex: none;
	margin-bottom: 50px;
	width: 1215px;
	height: 54px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 45px;
	font-weight: 700;
	font-style: italic;
	line-height: 54.460227966308594px;
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter {
	position: relative;
	flex: none;
	margin-bottom: 50px;
	width: 1372px;
	height: 56px;
	display: flex;
	padding-right: 30px;
	padding-left: 5px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .Filter_1 {
	position: relative;
	flex: none;
	width: 108px;
	height: 36px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	line-height: 36.30681610107422px;
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterTown {
	position: relative;
	flex: none;
	width: 164px;
	height: 56px;
	display: flex;
	padding-top: 13px;
	padding-right: 42px;
	padding-bottom: 13px;
	padding-left: 42px;
	box-sizing: border-box;
	background: rgba(217,217,217,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterTown .TOWN_7 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 80px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterType {
	position: relative;
	flex: none;
	width: 206px;
	height: 56px;
	display: flex;
	padding-top: 13px;
	padding-right: 42px;
	padding-bottom: 13px;
	padding-left: 42px;
	box-sizing: border-box;
	background: rgba(217,217,217,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterType .FLATTYPE_7 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 135px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterArea {
	position: relative;
	flex: none;
	width: 237px;
	height: 56px;
	display: flex;
	padding-top: 13px;
	padding-right: 42px;
	padding-bottom: 13px;
	padding-left: 42px;
	box-sizing: border-box;
	background: rgba(217,217,217,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterArea .FLOORAREA_7 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 159px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterLease {
	position: relative;
	flex: none;
	width: 313px;
	height: 56px;
	display: flex;
	padding-top: 13px;
	padding-right: 42px;
	padding-bottom: 13px;
	padding-left: 42px;
	box-sizing: border-box;
	background: rgba(217,217,217,1.00);
}
.ViewHDBPrices_ViewHDBPrices .Header .Filter .FilterLease .REMAININGLEASE_7 {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 229px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	line-height: 30.25568199157715px;
}